.section-title {
    h2 {
        font-family: $font-lato;
        @include font-size(1.875rem);
        font-weight: 900;
        color: $moderate-blue;
        text-transform: capitalize;

        @include media-breakpoint-up(lg) {
            @include font-size(2.3rem);
        }

        @include media-breakpoint-up(xl) {
            @include font-size(2.625rem);
        }
    }
}