//gallery
.gallery-slider {
    @include media-breakpoint-down(lg) {
        padding-bottom: 45px;
    }

    &__item {
        padding: 0.75rem;
    }

    .slick {
        &-arrow {
            font-size: 0;
            line-height: 1;
            border: 0;
            background-color: transparent;
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 0;
            z-index: 5;
            color: $white;
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-down(lg) {
                margin-right: 0.5rem;
            }

            &:focus,
            &:hover {
                outline: 0;
            }

            &:before {
                content: ' ';
                font-family: 'icomoon';
                @include font-size(1.4375rem);
                color: $moderate-blue;
                // color: $soft-red-1;
            }
        }

        &-prev {
            left: auto;
            right: 50.4%;

            &:before {
                content: '\e900';
            }
        }

        &-next {
            right: auto;
            left: 50.4%;

            &:before {
                content: '\e901';
            }
        }

        &-track {
            display: flex;
        }

        &-slide {
            // height: inherit;
        }
    }
}