.site-footer {
    background-color: $moderate-blue;

    .row {
        text-align: center;
        align-items: center;

        @include media-breakpoint-down(md) {
            [class^="col-"] {
                margin-bottom: 1.3rem;
            }
        }

    }

    &__logo {
        img {
            max-width: 200px;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                max-width: 90%;
            }

            @include media-breakpoint-up(lg) {
                max-width: 100%;
            }
        }
    }

    .location,
    .email,
    .phone {
        h3 {
            color: $white;
            font-family: $font-lato;
            font-weight: 700;
            text-transform: capitalize;
            @include font-size(1.3rem);


            @include media-breakpoint-up(lg) {
                @include font-size(1.5rem);
            }

            @include media-breakpoint-up(xl) {
                @include font-size(1.7rem);
            }
        }

        a {
            color: $white;
            border-radius: 10px;
            transition: all 0.2s ease-in-out;
            line-height: 1;

            &:focus,
            &:hover {
                text-decoration: none;
                background-color: $white;
                color: $moderate-blue;
                padding: .5rem;
                border-radius: 10px;
            }
        }
    }

    .social-links {
        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                display: inline-block;


                a {
                    color: $white;
                    @include font-size(1.6rem);
                    padding: .5rem;
                    transition: all 0.2s ease-in-out;
                    border-radius: 12px;

                    @include media-breakpoint-up(lg) {
                        @include font-size(2rem);

                    }

                    &:focus,
                    &:hover {
                        text-decoration: none;
                        background-color: $white;
                        color: $moderate-blue;
                        padding: .5rem;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}